/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 130px;
  padding-bottom: 20px;
  font-family: 'Roboto Mono', monospace;
}

.shiny {
  -webkit-filter: invert(100%); /* Safari */
  filter: invert(100%);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.poke-bio {
  font-size: 22px;
}

.poke-bio .btn {
  width: 40%;
  margin-bottom: 10px;
}

.poke-stats {
  font-size: 22px;
  text-align: center;
}

.navbar-inverse {
  background-color: #cc0000;
  border-bottom: 5px #990033 solid;
}
.navbar-brand {
  height: 110px;
}