/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 90px;
  padding-bottom: 20px;
  font-family: 'Roboto Mono', monospace;
}

.shiny {
  -webkit-filter: invert(100%); /* Safari */
  filter: invert(100%);
}

.sparkly {
  -webkit-filter: hue-rotate(90deg); /* Safari */
  filter: hue-rotate(90deg);
}

.mystery {
  -webkit-filter: contrast(0%) brightness(50%);  /* Safari 6.0 - 9.0 */
  filter: contrast(0%) brightness(0%);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.poke-grid {
  font-size: 20px;
}

.poke-bio {
  font-size: 22px;
}

.poke-bio .btn {
  margin-bottom: 10px;
}

.poke-stats {
  font-size: 22px;
  text-align: center;
}

.navbar-inverse {
  background-color: #cc0000;
  border-bottom: 3px #990033 solid;
}
.navbar-brand {
  height: 70px;
  padding: 5px;
}

.input-group-addon {
  top: 0
}

.input-group {
  margin-bottom: 15px;
}

.error-text {
  font-size: 400px;
  text-align: center;
  margin: auto;
}

.error-img {
  position: relative;
  margin: auto;
}

input[type=range] {
  display: block;
  width: 80%;
  margin: auto;
}

input[type=range].level-range {
  float:left;
  max-width: 100px;
  margin-top: 8px;
  margin-left: 8px;
}

span.level {
  float:left;
}

.nav>li>a {
  color: #fff;
  font-size: 16px;
  margin-top:18px;
}

.nav>li>a:focus, .nav>li>a:hover {
  color:#ccc;
  background-color: transparent;
}

.btn.float {
  float: left;
}

.btn.release {
  margin-left: 10px;
}

.poke-stats .glyphicon {
  font-size: 16px;
}