/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 73px;
  padding-bottom: 20px;
  font-family: 'Roboto Mono', monospace;
}

.main {
  margin-top: 20px;
}

.rocket .shiny {
  -webkit-filter: invert(0%); /* Safari */
  filter: invert(0%);
}

.shiny {
  -webkit-filter: invert(100%); /* Safari */
  filter: invert(100%);
}

.rocket {
  -webkit-filter: hue-rotate(90deg); /* Safari */
  filter:  invert(100%);
  background-color: #000;
}

.rocket img {
  -webkit-filter: invert(100%); /* Safari */
  filter: invert(100%);
}

.mystery {
  -webkit-filter: contrast(0%) brightness(0%);  /* Safari 6.0 - 9.0 */
  filter: contrast(0%) brightness(0%);
}

.rocket .mystery {
  -webkit-filter: contrast(0%) brightness(0%);  /* Safari 6.0 - 9.0 */
  filter: contrast(0%) brightness(0%);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.poke-grid {
  font-size: 20px;
}

.poke-bio {
  font-size: 22px;
}

.poke-bio .btn {
  margin-bottom: 10px;
}

.poke-stats {
  font-size: 22px;
  text-align: center;
}

.navbar-inverse {
  background-color: #cc0000;
  border-bottom: 3px #3B57AB solid;
}
.navbar-brand {
  height: 70px;
  padding: 5px;
}

.input-group-addon {
  top: 0
}

.input-group {
  margin-bottom: 15px;
}

.error-text {
  font-size: 400px;
  text-align: center;
  margin: auto;
}

.error-img {
  position: relative;
  margin: auto;
}

input[type=range] {
  display: block;
  width: 80%;
  margin: auto;
}

input[type=range].level-range {
  display: inline-block;
  max-width: 100px;
  margin-top: 8px;
  margin-left: 8px;
}

span.level {
  float:left;
}

.nav>li>a {
  color: #fff;
  font-size: 16px;
  margin-top:18px;
}

.nav>li>a:focus, .nav>li>a:hover {
  color:#ccc;
  background-color: transparent;
}

.btn.float {
  float: left;
}

.catch {
  margin-right: 10px;
}

.btn.release, .btn.more-info {
  margin-left: 10px;
}

.poke-stats .glyphicon {
  font-size: 16px;
}

.trainer.row h4 {
  margin-top: 0px;
}

.trainer-last img {
  max-width: 95px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.trainer-info .small, .home-box .small {
  color: #000;
}

.register-btn {
  margin-left:10px;
}

.navbar {
  margin-bottom: 0px;
}

.logged-in {
  padding: 5px;
  background-color: #3B57AB;
  color: #fff;
  text-align: right;
}

.logged-in .container {
  padding: 0px 30px;
}

.rotate {
  
  /* Safari */
  -webkit-transform: rotate(-90deg);
  
  /* Firefox */
  -moz-transform: rotate(-90deg);
  
  /* IE */
  -ms-transform: rotate(-90deg);
  
  /* Opera */
  -o-transform: rotate(-90deg);
  
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
  }

  .delete-trainer-form {
    display: inline-block;
  }

  .flash-msg {
    font-size: 16px;
    text-align: center;
  }

  .flash-msg.ok {
    color: #5cb85c;
  }

  .poke-stats output {
    padding: 0;
    font-size: 22px;
    display: inline-block
  }

  .poke-bio output {
    padding: 0;
    font-size: 22px;
    display: inline-block
  }

  #levelOutput {
    width:25px;
  }

@media (max-width: 767px) {
  .poke-bio {
    display: inline-block;
  }

  .poke-row {
    text-align:center;
  }

  .poke-row img {
    max-width: 275px;
  }

  .btn.float {
    float:none;
  }
  
  .catch {
    margin-right :0;
  }

  .btn.release, .btn.more-info {
    margin-left: 0;
  }

  .navbar-brand>img {
    display: block;
    max-width:150px;
  }

  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 10px;
  }

  .pagination>li>a, .pagination>li>span {
    padding: 3px 8px;
  }

  .logged-in .container {
    padding: 0px 20px;
  }
}