<div class="row">
    <div class="col-xs-12 text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-md">
                <li>
                    <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="1">1</a></li>
                <li><a href="2">2</a></li>
                <li><a href="3">3</a></li>
                <li><a href="4">4</a></li>
                <li><a href="5">5</a></li>
                <li><a href="6">6</a></li>
                <li><a href="7">7</a></li>
                <li><a href="8">8</a></li>
                <li><a href="9">9</a></li>
                <li><a href="10">10</a></li>
                <li><a href="11">11</a></li>
                <li><a href="12">12</a></li>
                <li><a href="13">13</a></li>
                <li>
                    <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>  
<hr>
<div class="row">
    <% @pokelist.each.with_index(@index) do |pokemon, i| %>


    <div class="col-sm-3 col-xs-6  poke-grid text-center">
        <a href="/pokedex/pokemon/<%=i%>">
            <div class="inner">
                <p><img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/<%=PokedexController.img_index(i)%>.png"></p>
                <p><%= pokemon.capitalize %><br><%=i%></p>
            </div>
        </a>
    </div>


    <% end %>
</div>
<hr>
<div class="row">
    <div class="col-xs-12 text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-md">
                <li>
                    <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    <li><a href="1">1</a></li>
                    <li><a href="2">2</a></li>
                    <li><a href="3">3</a></li>
                    <li><a href="4">4</a></li>
                    <li><a href="5">5</a></li>
                    <li><a href="6">6</a></li>
                    <li><a href="7">7</a></li>
                    <li><a href="8">8</a></li>
                    <li><a href="9">9</a></li>
                    <li><a href="10">10</a></li>
                    <li><a href="11">11</a></li>
                    <li><a href="12">12</a></li>
                    <li><a href="13">13</a></li>
                    <li>
                    <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>  