<div class="row">
    <div class="col-sm-6 pokegrid">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/<%=PokedexController.img_index(@pokemon.id)%>.png">
    </div>
    <div class="col-sm-6">

    </div>
</div>