<div class="jumbotron">
<div class="container">
  <h1>Safari Zone</h1>
  <p>Welcome to Lavender City. We provide our members with humanely raised and well-socialized pokémon that come from our nearly 20 years of breeding experience. Follow the links below to get started.</p>
  <p><a class="btn btn-danger btn-md" href="#" role="button">Sign In &raquo;</a> <a class="btn btn-warning btn-md" href="#" role="button">Register Account &raquo;</a></p>
</div>
</div>
<hr>
<div class="container">
<div class="row home-box">
  <div class="col-sm-4">
    <h2>Pokédex <span class="glyphicon glyphicon-book small" aria-hidden="true"></span></h2>
    <p>View our collection of 801 Pokémon from all 7 Generations, including Sun & Moon. You'll be sure to find something to add to your collection!</p>
    <p><a class="btn btn-primary" href="/pokedex" role="button">View Pokédex</a></p>
  </div>
  <div class="col-sm-4">
    <h2>Safari <span class="glyphicon glyphicon-camera small" aria-hidden="true"></span></h2>
    <p>Grab your pokeballs, head into our Safari Zone and catch a wild pokémon. Whether you're a novice or a professor, this is an excellent way to encounter new pokémon!</p>
    <p><a class="btn btn-primary" href="/safari" role="button">Safari Zone</a></p>
 </div>
  <div class="col-sm-4">
    <h2>Trainers <span class="glyphicon glyphicon-globe small" aria-hidden="true"></span></h2>
    <p>Meet other dedicated Trainers such as yourself, and view their impressive pokémon collections. How does your collection stack up?</p>
    <p><a class="btn btn-primary" href="/trainers" role="button">View Trainers</a></p>
  </div>
</div>