<div class="jumbotron">
<div class="container">
  <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a class="btn btn-danger btn-md" href="#" role="button">Learn more &raquo;</a></p>
</div>
</div>
<hr>
<div class="container">
<div class="row">
  <div class="col-sm-4">
    <h2>Pokédex</h2>
    <p>View our collection of 801 Pokémon from all 7 Generations, including Sun & Moon. You'll be sure to find something to add to your collection!</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-sm-4">
    <h2>Safari</h2>
    <p>Grab your pokeballs, head into our Safari Zone and catch a wild pokémon. Whether you're a professor or a novice, this is an excellent way to encounter new pokémon!</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-sm-4">
    <h2>Trainers</h2>
    <p>Meet other dedicated Trainers such as yourself, and view their impressive collections of pokémon. How does your collection stack up?</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>