<div class="row trainer-info">
    <div class="col-xs-12">
        <h3>@<%= @trainer.username %> <a href="/trainers/<%=@trainer.id%>/edit"><span class="glyphicon glyphicon-pencil small" aria-hidden="true"></span>
    </a></h3>
        <%=@trainer.email%>
        <br>Pokemon Caught: <%= @trainer.pokemon.size %>
        <br>Novice Trainer
    
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <p>You don't seem to have any pokemon yet.</p>
        <p>Not worry, by signing up you're already well on your way to becoming an Elite Trainer!</p>
        <p><a href="/pokedex">Visit the pokedex</a> to see our amazing collection.</p>
        <p><a href="/safari">Enter our Safari Zone</a> and encounter a random pokemon, if you're feeling for adventurous!
    </div>
</div>