<div class="row trainer-info">
<div class="col-xs-12">
    <h3>@<%= @trainer.username %> <a href="/trainer/<%=@trainer.id%>/edit"><span class="glyphicon glyphicon-pencil small" aria-hidden="true"></span>
</a></h3>
    <%=@trainer.email%>
    <%if @trainer.pokemon.size >= 10 %>
    <br>Veteran Trainer
    <% end %>
    <%if @trainer.pokemon.size >= 30 %>
    <br>Elite Trainer
    <% end %>
</div>
</div>
<hr>
<div class="row">
<div class="col-xs-123 poke-grid">
</div>

<% end %>

</div>